@model OnlineSchoolMVCWebApp.Models.SubjectCategory

@{
    ViewData["Title"] = "Видалити категорію";
}

<h1>@ViewData["Title"]</h1>

<h3>Ви справді хочете видалити категорію?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Скасувати</a>
    </form>
</div>
