@model OnlineSchoolMVCWebApp.Models.SubjectCategory

@{
    ViewData["Title"] = "Інформація";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Категорія</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated && User.IsInRole(SettingStrings.AdminRole))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a>
    }
    <a asp-action="Index">Повернутися до списку категорій</a>
</div>
