@model OnlineSchoolMVCWebApp.Models.Task

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Title);
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <p>@Html.DisplayFor(model => model.TaskContent)</p>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a> |
    <a asp-action="Index" asp-route-id="@Model?.CourceId">Список завдань</a>
</div>
