@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Онлайн школа</h1>
    <p class="lead">Навчайтесь разом з нами!</p>
    <p class="lead">Матеріали, що відповідають найсучаснішим програмам.</p>
    <p><a asp-controller="Cources" asp-action="Index" class="btn btn-outline-secondary">Обрати курс</a></p>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 row-cols-sm-3">
        <div class="col" id="chart_div_1"></div>
        <div class="col" id="chart_div_2"></div>
        <div class="col" id="chart_div_3"></div>
    </div>
</div>

@section scripts{

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            $.get('/api/Chart/JsonCourcesCountByCategoryData', function (JsonData) {
                var data = new google.visualization.arrayToDataTable(JsonData, false);
                var options = {
                    'title': 'Найпопулярніші предмети',
                };

                var chart = new google.visualization.PieChart(document.getElementById('chart_div_1'));
                chart.draw(data, options);
            })

            $.get('/api/Chart/JsonCourcesCountByAuthorData', function (JsonData) {
                var data = new google.visualization.arrayToDataTable(JsonData, false);
                var options = {
                    'title': 'Найкращі автори',
                    legend: { position: "none" },
                };

                var chart = new google.visualization.BarChart(document.getElementById('chart_div_2'));
                chart.draw(data, options);
            })

            $.get('/api/Chart/JsonCourcesCountByMonthData', function (JsonData) {
                var data = new google.visualization.arrayToDataTable(JsonData, false);
                var options = {
                    'title': 'Постійне оновлення каталогу курсів',
                    legend: { position: "none" },
                };

                var chart = new google.visualization.ColumnChart(document.getElementById('chart_div_3'));
                chart.draw(data, options);
            })

        }        
    </script>
}