@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Онлайн школа</h1>
    <p class="lead">Навчайтесь разом з нами!</p>
    <p class="lead">Матеріали, що відповідають найсучаснішим програмам.</p>
    <p><a asp-controller="Cources" asp-action="Index" class="btn btn-outline-secondary">Обрати курс</a></p>
</div>
