
@{
    ViewData["Title"] = "Підтвердження Email";
}

<h1>@ViewData["Title"]</h1>

<p>
    Для завершення реєстрації виконайте інструкції, що зазначені в листі, який був відправлений на вашу електронну адресу.
</p>
